Flask==3.0.0
requests==2.31.0
python-dotenv==1.0.0
gunicorn==21.2.0
werkzeug==3.0.1
opencv-python-headless==4.8.1.78
openai==1.12.0
numpy==1.26.3
supervision==0.18.0
dateparser
langchain
sentence-transformers
rasa
flask 
opencv-python 
requests 
pandas 
torch 
torchvision 
torchaudio 
google-generativeai 
langchain 
langchain-community 
python-dotenv
markdown